*{
    margin: 0;
    padding: 0;
}

.typing-animation {
    max-width: 400px;
    overflow: hidden;
    white-space: pre-wrap;
    text-indent: 0;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3s steps(40, end) forwards;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100%; border-right: none; }
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    color: rgb(244, 244, 244);
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.avatar {
    margin-top: -150px;
    margin-left: -515px;
    transform: scale(.35);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.ballon {
    transform: scale(1.2);
    margin-top: -245px;
    user-select: none;
}

.frame {
    width: 100%;
    margin-top: -35px;
    position: absolute;
    outline: none;
}

#dialog pre {
    padding: 0 auto;
    margin: 0 auto;
    margin-left: 20px;
    position: relative;
    font-size: 14px;
    color: rgb(0,0,0);
    margin-top: -100px;
}

.container {
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.leftBox {
    position: relative;
    margin: 10px;
    padding: 5px;
}

.midBox {
    position: relative;
    margin: 10px;
    padding: 5px;
}

.rightBox {
    position: relative;
    margin: 10px;
    padding: 5px;
}

a {
    text-decoration-color: rgb(240, 240, 240);
    color: rgb(240, 240, 240);
    text-decoration-line: none;
    text-decoration-skip-ink: none;
    font-size: 30px;
}

/* footer {
    text-align: center;
    bottom: 3%;
    left: 38%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
} */